body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.daybg {
    background-image: url("../img/day.gif");
}

.nightbg {
    height: 100vh;
    background-image: url("../img/night.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.homescreen {
    text-align: center;
}

.game-class {
    text-align: center;
}

#start {
    margin: 20px;
}

.lights-button {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

#feed, #sleep, #play, #lights {
    margin: 10px; 
    display: none;
    text-align: center;
    justify-content: center;
}

.character {
    display: none;
}

.selected-char {
    display: block;
    min-height: 20vh;
    margin: auto;
    position: fixed;
    left: 40%;
    bottom: 5%;
    image-rendering: pixelated;
}

.tips {
    display: none;
    text-align: center;
}

.stats {
    display: none;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}