body {
    height: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.daybg {
    height: 100vh;
    width: auto;
    background-image: url("../img/day.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nightbg {
    height: 100vh;
    width: auto;
    background-image: url("../img/night.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.audio-selected {
    display: normal;
    position:absolute;
    top: 15px;
    right: 20px;
    max-height: 75px;
}

.audio-not-selected {
    display: none;
}

#title {
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20px;
    max-width: 95vw;
}

.homescreen {
    text-align: center;
    font-family: "DotGothic16";
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
}

.tips {
    display: none;
    text-align: center;
    font-family: "DotGothic16";
    font-weight: bold;
    letter-spacing: .8px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

.game-class {
    text-align: center;
}

#start {
    margin: 30px;
    font-size: 20px;
    font-family: Arial;
    width: 140px;
    height: 50px;
    border-width: 1.5px;
    color: #7d520d;
    border-color: #7d520d;
    font-weight: bold;
    border-radius: 15px;
    background: linear-gradient(#ffec64, #ffab23);
}

#start:hover {
    background: linear-gradient(#ffab23, #ffec64);
  }

.lights-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#feed, #sleep, #play {
    margin: 10px; 
    display: none;
    justify-content: center;
}

#lights {
    margin: 10px; 
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Arial;
    width: 120px;
    height: 50px;
    border-width: 1.5px;
    color: #8a5304;
    border-color: #a96c15;
    font-weight: bold;
    border-radius: 15px;
    background: linear-gradient(#ffc477, #fb9e25);
}

#lights:hover {
    background: linear-gradient(#fb9e25, #ffc477);
  }

#feed {
    margin: 10px; 
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial;
    width: 80px;
    height: 40px;
    border-width: 1.5px;
    color:  #5b6e31;
    border-color: #83c41a;
    font-weight: bold;
    border-radius: 15px;
    background: linear-gradient(#b8e356, #a5cc52);
}

#feed:hover {
  background: linear-gradient(#a5cc52, #b8e356);
}

#play {
    margin: 10px; 
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial;
    width: 80px;
    height: 40px;
    border-width: 1.5px;
    color: #245180;
    border-color: #84bbf3;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: linear-gradient(#79bbff, #378de5);
}

#play:hover {
    background: linear-gradient(#378de5, #79bbff);
}

#sleep {
    margin: 10px; 
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial;
    width: 80px;
    height: 40px;
    border-width: 1.5px;
    color: #777777;
    border-color: #dcdcdc;
    font-weight: bold;
    border-radius: 15px;;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(#ededed, #dfdfdf);
  }
  
#sleep:hover {
    background: linear-gradient(#dfdfdf, #ededed);
}

.characters {
    margin: auto;
    left: 40%;
    right: 40%;
    bottom: 3vh;
    position: absolute;
    image-rendering: pixelated;
    animation: rotation 1s linear infinite;
}

#egg {
    display: none;
    min-height: 12vh;
    margin: auto;
    left: 40%;
    right: 40%;
    bottom: 5%;
    position: absolute;
    image-rendering: pixelated;
}

#charmander {
    display: none;
    min-height: 15vh;
    margin: auto;
    left: 40%;
    right: 40%;
    bottom: 5%;
    position: absolute;
    image-rendering: pixelated;
    animation: movement 16s linear infinite;
}

#charmeleon {
    display: none;
    min-height: 20vh;
    margin: auto;
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 5%;
    image-rendering: pixelated;
    animation: movement 16s linear infinite;
}

#charizard {
    display: none;
    min-height: 30vh;
    margin: auto;
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 5%;
    image-rendering: pixelated;
    animation: movement 16s linear infinite;
}

.stats {
    display: none;
    background-color: white;
    width: 85vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Press Start 2P";
    line-height: 35px;
    border-style: dashed;
    border-width: 3px;
    margin-bottom: 50px;
}

.stats-night {
    display: none;
    background-color: black;
    width: 85vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Press Start 2P";
    line-height: 35px;
    border-style: dashed;
    border-width: 3px;
    border-color: white;
}

#stats-word {
    display: flex;
    font-size: 22px;
    width: 100vw;
    justify-content: center;
}

.stats-data {
    display: none;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    width: 100vw;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Press Start 2P";
    font-size: 17px;
    line-height: 35px;
}

#name-word, #level-word, #hunger-word, #sleepiness-word, #boredom-word {
    font-size: 20px;
    font-weight: bold;
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(1deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes movement {
    0% {
        -webkit-transform: translate(0px);
    }
    25% {
        -webkit-transform: translate(80px);
    }
    50% {
        -webkit-transform: translate(0px);
    }
    75% {
        -webkit-transform: translate(-80px);
    }
    100% {
        -webkit-transform: translate(0px);
    }
}



@media (min-width: 1280px) {
    .stats, .stats-night {
        max-width: 1280px;
    }
}

@media (max-height: 1000px) {
    #egg {
        display: none;
        min-height: 12vh;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 5%;
        position: relative;
        image-rendering: pixelated;
    }
    
    #charmander {
        display: none;
        min-height: 15vh;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 5%;
        position: relative;
        image-rendering: pixelated;
    }
    
    #charmeleon {
        display: none;
        min-height: 20vh;
        margin: auto;
        position: relative;
        left: 0;
        right: 0;
        bottom: 5%;
        image-rendering: pixelated;
    }
    
    #charizard {
        display: none;
        min-height: 30vh;
        margin: auto;
        position: relative;
        left: 0;
        right: 0;
        bottom: 5%;
        image-rendering: pixelated;
    }
}